{% extends "upload/base.html" %}

{% load custom_tags %}
{% load static %}

{% block title %}Home{% endblock %}
{% block headers %}
    <script src="{% static 'upload/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
   
    <section class="section">
        <h1 class="title is-size-1">Home</h1>
        <h2 class="title is-size-3">Upload File</h2>
        {% if messages %}
            <div class="notification is-primary">
                <button class="delete"></button>
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="box">
            {% csrf_token %}
            <div class="field">
                <label class="label" style="display: none;">{{ form.file.label_tag }}</label>
                <div class="control">
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <div style="display: none;">
                                {{ form.file }}
                            </div>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                  </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name">
                                No file uploaded
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Upload</button>
                </div>
            </div>
        </form>
    </section>
    
    <hr>
    
    <section class="section">
        
        <h2 class="title is-size-3">Your Files</h2>
        {% if files %}
            <div>
                {% for doc in files %}
                    <div class="box">
                        <div class="columns">
                            <div class="column is-three-fifths is-align-items-center is-flex">
                                <p class="title is-size-4">
                                    <a href="{% url 'upload:download_file' doc.uuid %}">
                                        {% if doc.user_file_name %}
                                            {{ doc.user_file_name }}
                                        {% else %}
                                            {{ doc.file.name }}
                                        {% endif %}
                                    </a>
                                </p>
                            </div>
                            <div class="column is-align-items-center is-flex">
                                <p class="is-size-6">{{ doc.uploaded_at|date:"F j, Y, g:i a" }}</p>
                            </div>
                            <div class="column is-flex is-align-items-center">
                                <div class="dropdown is-right is-up" id="dropdown-container" style="margin-left:auto">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-content-{{ doc.uuid }}">
                                            <span class="icon is-small">
                                                <i class="fas fa-ellipsis" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div id="dropdown-content-{{ doc.uuid }}" class="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                Actions
                                            </div>
                                            <a class="dropdown-item js-modal-trigger" data-target="rename-modal-{{ doc.uuid }}">
                                                <div class="columns is-mobile">
                                                    <div class="column is-one-fifth is-flex is-justify-content-center">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-pen" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                    <div class="column">
                                                        <span>Rename</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item js-modal-trigger" data-target="delete-modal-{{ doc.uuid }}">
                                                <div class="columns is-mobile">
                                                    <div class="column is-one-fifth is-flex is-justify-content-center">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-trash" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                    <div class="column">
                                                        <span>Delete</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="modal" id="rename-modal-{{ doc.uuid }}">
                                                <div class="modal-background"></div>
                                                <div class="modal-card">
                                                    <header class="modal-card-head">
                                                        <p class="modal-card-title">Rename file</p>
                                                        <button class="delete" aria-label="close"></button>
                                                    </header>
                                                    <form method="post" action="{% url 'upload:rename_file' doc.uuid %}" style="display:inline;">
                                                        <section class="modal-card-body">
                                                            New file name:
                                                            {% csrf_token %}
                                                            {{ form.user_file_name|add_class:"input" }}
                                                        </section>
                                                        <section class="modal-card-foot">
                                                            <button type="submit" class="button is-info">Rename</button>
                                                        </section>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal" id="delete-modal-{{ doc.uuid }}">
                                                <div class="modal-background"></div>
                                                <div class="modal-card">
                                                    <header class="modal-card-head">
                                                        <p class="modal-card-title">Delete file</p>
                                                        <button class="delete" aria-label="close"></button>
                                                    </header>
                                                    <section class="modal-card-body">
                                                        Do you really want to delete this file? This action is irreversible.
                                                    </section>
                                                    <section class="modal-card-foot">
                                                        <form method="post" action="{% url 'upload:delete_file' doc.uuid %}" style="display:inline;">
                                                            {% csrf_token %}
                                                            <button type="button" class="button is-light" aria-label="close">Cancel</button>
                                                            <button type="submit" class="button is-danger">Delete</button>
                                                        </form>
                                                    </section>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="notification is-info">
                You haven't uploaded any files yet. Start by uploading your first file!
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}
