{% extends "upload/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
   
    <section class="section">
        <h1 class="title is-1">Home</h1>
        <h2 class="title is-3">Upload File</h2>
        {% if messages %}
            <div class="notification is-primary">
                <button class="delete"></button>
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="box">
            {% csrf_token %}
            <div class="field">
                <label class="label" style="display: none;">{{ form.file.label_tag }}</label>
                <div class="control">
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <div style="display: none;">
                                {{ form.file }}
                            </div>
                            <span class="file-cta">
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name">
                                No file uploaded
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Upload</button>
                </div>
            </div>
        </form>
    </section>

    <section class="section">
        <h2 class="title is-3">Your Files</h2>
        {% if files %}
            <div>
                {% for doc in files %}
                    <div class="box">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">
                                    <a href="{% url 'upload:download_file' doc.uuid %}">
                                        {% if doc.user_file_name %}
                                            {{ doc.user_file_name }}
                                        {% else %}
                                            {{ doc.file.name }}
                                        {% endif %}
                                    </a>
                                </p>
                            </div>
                            <div class="media-right">
                                <p class="subtitle is-6">{{ doc.uploaded_at|date:"F j, Y, g:i a" }}</p>
                                <form method="post" action="{% url 'upload:rename_file' doc.uuid %}" style="display:inline;">
                                    {% csrf_token %}
                                    {{ form.user_file_name}}
                                    <button type="submit" class="button is-info is-small">Rename</button>
                                </form>
                                <form method="post" action="{% url 'upload:delete_file' doc.uuid %}" style="display:inline;" onsubmit="return confirmDelete();">
                                    {% csrf_token %}
                                    <button type="submit" class="button is-danger is-small">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="notification is-info">
                You haven't uploaded any files yet. Start by uploading your first file!
            </div>
        {% endif %}
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var fileInput = document.querySelector('.file input[type=file]');
            fileInput.onchange = function () {
                if (fileInput.files.length > 0) {
                    var fileName = document.querySelector('.file-name');
                    fileName.textContent = fileInput.files[0].name;
                }
            };

            var deleteButtons = document.querySelectorAll('.notification .delete');
            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    this.parentElement.style.display = 'none';
                });
            });
        });

        function confirmDelete() {
            return confirm('Are you sure you want to delete this file?');
        }
    </script>
</div>
{% endblock %}
