{% extends "upload/base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="container">
    <section class="section">
        <div class="form-container box">
            <h2 class="title is-2">Signup</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="field">
                    {{ form.username.label_tag }}
                    <div class="control">
                        {{ form.username }}
                    </div>
                </div>
                <div class="field">
                    {{ form.email.label_tag }}
                    <div class="control">
                        {{ form.email }}
                    </div>
                </div>
                <div class="field">
                    {{ form.password1.label_tag }}
                    <div class="control">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="field">
                    {{ form.password2.label_tag }}
                    <div class="control">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Signup</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}
